<!--    templates/home.html    -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Boda</title>
    <link rel="icon" href="./png/v2.png" type="image/png">
</head>
<body>
    <h1>Welcome to Boda</h1>
    {% for user in users %}
    <h2>
        <ul>
            <li>
                UserName: {{ user.userName }} <br>
                UserID: {{ user.userID }} <br>
                ServerID: {{ user.serverID }} <br>
            </li>
        </ul>
    </h2>
    <ul>
        {% for review in user.reviews %}
        <li>
            ReviewID: {{ review.reviewID }} <br>
            UserID: {{ review.userID }} <br>
            Artista: {{ review.artista }} <br>
            Album: {{ review.album }} <br>
            Imagem: {{ review.albumImage }} <br>
            Score: {{ review.score }} <br>
            Review: {{ review.review }} <br>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

    <br>
    <!-- DEBUG -->

    <h3>DEBUG</h3>
    {% if config['DEBUG'] %}

        {% include "_debug.html" %}

    {% endif %}
</body>
</html>
