<!--    templates/base.html    -->

<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <title>Boda</title>
        <link rel="icon" type="image/png" href="/static/v2.png">
        {% block head %}
        {% endblock %}
        {% block styles %}
        {% endblock %}
        {{ bootstrap.load_css() }}
    </head>
    <body>
        {% include "./modules/_navbar.html" %}

        {% block content %}
        {% endblock %}

        

        {% block scripts %}
        {% endblock %}


        {% include "./modules/_footer.html" %}
        {{ bootstrap.load_js() }}
    </body>
</html>
